{
	"arrowParens": "always",
	"singleQuote": true,
	"jsxSingleQuote": true,
	"useTabs": true,
	"trailingComma": "es5",
	"tabWidth": 3,
	"printWidth": 100,
	"plugins": ["prettier-plugin-tailwindcss"]
}
